<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:replace="/include/head :: head" />
    <title>메타넷대학교</title>
</head>

<body>
<div id="db-wrapper" class="toggled">
    <!--sidebar 삽입  -->
    <div th:replace="/include/sidebar :: sidebar"></div>
    <div id="page-content">
        <div th:replace="/include/navbar :: navbar"></div>
        <div class="pt-9">
            <img class="main-img-size min-vw-sm-100" src="/img/main_pic.jpg" alt="..." />
        </div>

        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-8 m-auto">
                    <!-- table -->
                    <div class="table-responsive mb-3">
                        <table class="table table-borderless text-center bg-white">
                            <thead class="table-light">
                            <tr>
                                <th class="fs-4" colspan="3">공지사항</th>
                            </tr>
                            </thead>

                            <thead>
                            <tr>
                                <th class="w-75">제목</th>
                                <th>작성자</th>
                                <th>작성일</th>
                            </tr>
                            </thead>

                            <tbody>
                            <!--공지사항 반복문돌리기!!!!!!!!!!!!!-->
                            <tr th:each="board : ${boardList.boardDtoList}">
                                <td><a th:text="${board.title}"
                                       th:href="@{'/boardDetail/' + ${board.boardId}}"></a></td>
                                <td th:text="${board.userName}"></td>
                                <td th:text="${#temporals.format(board.updatedDate,'yyyy-MM-dd')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/include/scripts :: scripts"></div>
</body>

</html>