<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta th:replace="/include/head :: head" />
  <title>메타넷대학교</title>
</head>

<body>
<div id="db-wrapper" class="toggled">
  <!--sidebar 삽입  -->
  <div th:replace="/include/sidebar :: sidebar"></div>
  <div id="page-content">
    <div th:replace="/include/navbar :: navbar"></div>

    <div class="container-fluid">
      <div class="row  align-items-center justify-content-center vh-100">
        <div class="col-10 mt-15">
          <div class="card p-3">
            <div class="card-body">
              <div class="mb-6">
                <h4 class="text-center fw-bold">학생 검색</h4>

              </div>
              <form th:action="@{studentsList}" method="GET">
                <!-- row -->
                <div class="row">
                    <div class="d-flex justify-content-end">
                        <div class="col-2">
                            <input type="text" name="userName" class="form-control" placeholder="이름" th:value="${searchDto.userName}">
                        </div>
                        <div class="col-2 p-0 ms-1">
                            <input type="text" name="userCode" class="form-control" placeholder="학번" th:value="${searchDto.userCode}">
                        </div>
                        <div class="col-2 p-0 ms-1">
                            <input type="text" name="userMajor" class="form-control" placeholder="전공" th:value="${searchDto.userMajor}">
                        </div>

                        <button type="submit" class="btn btn-outline-danger ms-1">검색</button>
                    </div>
                </div>
              </form>
              <!-- row -->
              <div class="row mt-4 p-4">
                <table class="table table-borderless text-center align-items-center border-1">
                  <thead>
                  <tr class="border-1">
                    <th class="fs-5">이름</th>
                    <th class="fs-5">학번</th>
                    <th class="fs-5">부서</th>
                    <th class="fs-5">전공</th>
                    <th class="fs-5">학년</th>
                    <th class="fs-5">재학여부</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- tr 반복 시작 -->
                  <tr class="border-bottom" th:each="student : ${studentsList.userDtoList}">
                    <td><a th:text="${student.userName}"
                           th:href="@{'/user/studentInfo/' + ${student.userCode}}"></a></td>
                    <td th:text="${student.userCode}"></td>
                    <td th:text="${student.userDepartment}"></td>
                    <td th:text="${student.userMajor}"></td>
                    <td th:text="${student.userGrade}"></td>
                    <td th:text="${student.enrollmentStatus}"></td>
                  </tr>
                  <!-- tr 반복 끝 -->
                  <!-- 찾는 학생이 없을 경우 (시작) -->
                  <tr th:if="${studentsList.totalElements == 0}">
                    <td colspan="6" class="border-bottom">찾는 학생이 없습니다.</td>
                  </tr>
                  <!-- 찾는 학생이 없을 경우 (끝) -->
                  </tbody>
                </table>
                
                <!-- 페이징 처리 부분  -->
                <ul class="pagination justify-content-center" 
                	th:with="pageNumber = ${studentsList.pageNumber},
							pageSize = ${studentsList.pageSize},
							totalPages = ${studentsList.totalPages},
							pazingSize = 10,
                            start=${T(Math).floor(pageNumber / pazingSize) * pazingSize + 1},
                            tempEndPage = ${start + pazingSize - 1},
              				last=${tempEndPage < totalPages ? tempEndPage : totalPages}"
              		th:if="${studentsList.totalElements != 0}">
                            
                	<!--  이전  -->
                    <li class="page-item">
                    	<a class="page-link" th:href="${pageNumber==0} ? '' : @{studentsList(page=${pageNumber}, userName=${searchDto.userName}, userCode=${searchDto.userCode}, userMajor=${searchDto.userMajor})}">이전</a>
                    </li>

	                <!--  페이지 버튼  -->
                    <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == pageNumber + 1} ? 'page-item active' : 'page-item'">
				    	<a class="page-link" th:text="${page}" 
				    		th:href="@{studentsList(page=${page}, userName=${searchDto.userName}, userCode=${searchDto.userCode}, userMajor=${searchDto.userMajor})}"></a>
				  	</li>

		            <!--  다음  -->
                    <li class="page-item">
        	            <a class="page-link" th:href="${pageNumber==totalPages-1} ? '' : @{studentsList(page=${pageNumber+2}, userName=${searchDto.userName}, userCode=${searchDto.userCode}, userMajor=${searchDto.userMajor})}">다음</a>
                    </li>
                </ul>
                <!-- 페이징 처리 끝 -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
<div th:replace="/include/scripts :: scripts"></div>
</body>

</html>