<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:replace="/include/head :: head" />
    <title>메타넷대학교</title>
</head>

<body>
<div id="db-wrapper" class="toggled">
    <!--sidebar 삽입  -->
    <div th:replace="/include/sidebar :: sidebar"></div>
    <div id="page-content">
        <div th:replace="/include/navbar :: navbar"></div>

        <div class="container-fluid">
            <div class="row justify-content-center vh-100">
                <div class="col-xl-8 m-auto">
                    <div class="card smooth-shadow-md">
                        <div class="card-body">

                            <div class="d-flex justify-content-center">
                                <h2 class="text-decoration-none" th:text="${studentList.subjectName}"></h2>
                            </div>
                            <table class="table table-bordered text-center mt-2 mb-5" style="vertical-align: middle;">
                                <thead>
                                <tr>
                                    <th class = "w-15"></th>
                                    <th>학번</th>
                                    <th>이름</th>
                                    <th>학년</th>
                                    <th>소속</th>
                                    <th>전공</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="student : ${studentList.students}">
                                    <td class = "w-15"><img class="rounded-circle avatar avatar-xxxl" th:src="${student.thumbnailUrl}"></td>
                                    <td th:text="${student.userCode}"></td>
                                    <td th:text="${student.userName}"></td>
                                    <td th:text="${student.userGrade}"></td>
                                    <td th:text="${student.userDepartment}"></td>
                                    <td th:text="${student.userMajor}"></td>
                                </tr>
                                <!-- 찾는 학생이 없을 경우 (시작) -->
                                <tr th:if="${studentList.count == 0}">
                                    <td colspan="3">신청한 학생이 없습니다.</td>
                                </tr>
                                <!-- 찾는 학생이 없을 경우 (끝) -->
                                </tbody>

                            </table>
                            <!-- 페이징 처리 부분  -->
                            <!--                            <ul class="pagination justify-content-center"-->
                            <!--                                th:with="pageNumber = ${boardList.pageNumber},-->
                            <!--							            pageSize = ${boardList.pageSize},-->
                            <!--							            totalPages = ${boardList.totalPages},-->
                            <!--							            pazingSize = 10,-->
                            <!--                            			start=${T(Math).floor(pageNumber / pazingSize) * pazingSize + 1},-->
                            <!--                            			tempEndPage = ${start + pazingSize - 1},-->
                            <!--              							last=${tempEndPage < totalPages ? tempEndPage : totalPages}"-->
                            <!--                                th:if="${boardList.totalElements != 0}" >-->

                            <!--                                &lt;!&ndash;  이전  &ndash;&gt;-->
                            <!--                                <li class="page-item">-->
                            <!--                                    <a class="page-link" th:href="${pageNumber==0} ? '#' : @{/boardList(page=${pageNumber})}">이전</a>-->
                            <!--                                </li>-->

                            <!--                                &lt;!&ndash;  페이지 버튼  &ndash;&gt;-->
                            <!--                                <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == pageNumber + 1} ? 'page-item active' : 'page-item'">-->
                            <!--                                    <a class="page-link" th:text="${page}" th:href="@{/boardList(page=${page})}"></a>-->
                            <!--                                </li>-->

                            <!--                                &lt;!&ndash;  다음  &ndash;&gt;-->
                            <!--                                <li class="page-item">-->
                            <!--                                    <a class="page-link" th:href="${pageNumber==totalPages-1} ? '#' : @{/boardList(page=${pageNumber+2})}">다음</a>-->
                            <!--                                </li>-->
                            <!--                            </ul>-->
                            <!-- 페이징 처리 끝 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/include/scripts :: scripts"></div>
</body>

</html>